h1{
  text-align: center;
  margin-top: 20px;
}
.omut1, .omut2, .omut3{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
h3{
  text-align: center;
  margin-top: 30px;

}
.video{
  text-align: center;
  margin-top: 20px;
}
.omut4{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: blue;
}